@model IEnumerable<Category>


@{
    ViewData["Title"] = "Index";
    int count = 1;
}

<div class="row">
    <div class="col-12 my-3">
        <a asp-area="AdminPanel" asp-controller="Category" asp-action ="Create" class="btn btn-success">content</a>
    </div>
    <div class="col-lg-6">
        <div class="main-card mb-3 card">
            <div class="card-body">
                <h5 class="card-title">Categories</h5>
                <table class="mb-0 table table-dark">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Category Name</th>
                            <th>IsDeleted</th>
                            <td>Settings</td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var cg in Model)
                        {
                        <tr>

                            <td>
                            @count
                            </td>
                            <td>
                            @cg.Name
                            </td>
                            <td>
                                @(cg.IsDeleted?"Deleted":"Active" ) 
                            </td>
                            <td>
                                <a asp-action="Detail" asp-root-id="@cg.Id"  class="btn btn-info"> 
                                <i class="fa-address-card"> </i></a>
                                <a asp-action="Update" asp-root-id="@cg.Id"  class="btn btn-warning">
                                <i class="fa-upload"> </i></a>
                                <a asp-action="Delete" asp-root-id="@cg.Id"  class="btn btn-danger">
                                <i class="@(cg.IsDeleted?"fa-check":"fa-delete" ) " >  </a>  
                            </td>
                        </tr>

                        }


                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
